@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', Courier, monospace;
  height: 100vh;
  background: #4c666e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

a {
  text-decoration: none;
  color: #1c2ecf;
}

a:focus,
a:hover {
  outline: 0;
  text-decoration: underline;
  font-weight: bold;
}

.container {
  background: #409691;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 20px 0 40px;
  position: relative;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  display: block;
  border: 0;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  padding: 0.7rem 0.3rem;
}

.form-control input:focus {
  border-color: #0a5f91;
}

input[type='password'] {
  letter-spacing: 5px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background: #0c70aa;
  border: none;
  outline: 0;
  padding: 0.6rem 0;
  margin-bottom: 20px;
  font-family: inherit;
  color: #fff;
  font-size: 1rem;
  transition: transform 0.2s ease;
  border-radius: 5px;
}

.btn:hover {
  background: #0a5f91;
}

.btn:active {
  transform: scale(0.98);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  font-size: 1rem;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 2);
}

.form-control input:focus + label span {
  color: #0a5f91;
  transform: translateY(-30px);
}

.form-control input + label.shrink {
  transform: translateY(-30px);
}

.form-control input:focus + label.shrink {
  transform: translateY(0px);
}
